{
${if CONFIG=Debug}
  "key": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlc6hy5++uljMusXcpXspmA3UH5t9ppVHj3FfxvVMPOFX0RLrDvXtfH3f/TkdyPsAzk1QDDQ1++lDatRa3xc4rOGa2ynXljOR9y6rWoqB5wwMOjB42AWSVZWNwpccRsYkMhML5s7uur+B4SERWeMasXuJUhTPweS48Mz0mvp9wZMQB9+xPNm93iUeUZvVtB63ksibx5B3UJUCBz1wSUXLnEoTjy6TR9XsQ+boZlRsk/jY79A+iMQZw72QBBXvWSfJRaeDj266Dz+Jyp0h4lxZJjg/pnL0Rp5s0zlhlSNm6zyrQ6lWMzagjP/2G95LWMNvLTE95oKqhP4hNaxYrI/pUQIDAQAB",
${endif}
  "manifest_version": 2,
  "name": "__MSG_appName__",
  "short_name": "__MSG_appShortName__",
  "description": "__MSG_appDesc__",
  "version": "1.3.9.0",
${if PACKAGING=app}
  "app": {
${endif}
    "background": {
      "persistent": false,
      "scripts": [
        "background.js"
      ]
${if PACKAGING=app}
    }
${endif}
  },
${if PACKAGING=extension}
  "browser_action": {
    "default_icon": "icon.png",
    "default_title": "__MSG_appShortName__",
    "default_popup": "window.html"
  },
  "content_security_policy": "script-src 'self' 'wasm-eval'; object-src 'self'",
${endif}
${if PACKAGING=app}
  "minimum_chrome_version": "48",
${endif}
${if PACKAGING=extension}
  "minimum_chrome_version": "96",
${endif}
  "default_locale": "en",
  "icons": {
    "128": "icon.png"
  },
  "storage": {
    "managed_schema": "managed_storage_schema.json"
  },
  "permissions": [
${if PACKAGING=app}
    "alwaysOnTopWindows",
    "browser",
    "usb",
    {
      "usbDevices": [
${usb_devices}
      ]
    },
${endif}
    "loginState"
  ],
  "externally_connectable": {
    "ids": ["*"],
    "matches": [
      "chrome-untrusted://terminal/*"
    ]
  }
}
