/activate
/asan_testing-artifacts/
/chromedriver
/coverage-artifacts/
/depot_tools/
/emsdk/
/nacl_sdk/
/node_modules/
/package.json
/package-lock.json
/python2/
/python2_venv/
/python3_venv/
/webports/
